<html>
<head>
  <title> Manage Quotes </title>
</head>
<body class = "qform-body">



<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">

  <% if policy(Quote).info? %>
    <div class="field">
      <p class = "text-box ">  <%= form.label :customer_id, class:"labels" %>
        <%=  form.collection_select :customer_id, Customer.all, :id, :full_name, { include_blank: false }, {class:"fields" } %></p>
    </div>

      <div class="field">
      <p class = "text-box ">  <%= form.label :vehicle_id, class:"labels" %>
        <%= form.collection_select :vehicle_id, Vehicle.all, :id, :vin, { include_blank: false }, {class:"fields" } %></p>
      </div>

      <div class="field">
      <p class = "text-box "> <%= form.label :Agent, class:"labels" %>
        <%= form.collection_select :user_id, User.all, :id, :full_name,{ include_blank: false }, {class:"fields" }%></p>
      </div>


  <%end %>

  <% if policy(Quote).sold? %>


    <div class="field">
   <p class="text-box" >  <%= form.label :Status, class:"labels" %><br/>
     <%= form.select :sold, ['Pending','Sold'], :selected => 'Pending',:class => 'submit'  %> </p>
    </div>

  <%end %>
    <div class="send">
      <p>  <%= form.submit 'Submit', :class => 'submit'%> </p>
    </div>
</div>
<% end %>
</body>