<p id="notice"><%= notice %></p>


<% if policy(Quote).title1? %>
  <h1>My Quotes</h1>
  <%end %>

<% if policy(Quote).title2? %>
<h1>Sales</h1>
<%end %>




<table>
  <thead>
  <tr>
    <th>Customer</th>
    <th>Vehicle</th>
    <th>Agent Contact</th>
    <th>MSRP</th>
    <th>Markup</th>
    <th>Sales tax</th>
    <th>Total</th>
    <th>Sale Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @quotes.each do |quote| %>


    <tr>

      <td><%= quote.customer.full_name %></td>
      <td><%= quote.vehicle.vin %></td>
      <td><%= quote.user.email %></td>
      <td>$ <%= number_with_precision(quote.vehicle.wholesale_price, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.markup, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.sales_tax, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.total, precision: 2) %></td>
      <td><%= quote.sold %></td>
      <td><%= link_to 'Show', quote %></td>
      <% if policy(Quote).new? %>
      <td><%= link_to 'Edit', edit_quote_path(quote) if policy(quote).edit? %> </td>
        <%end %>
      <td><%= link_to 'Update Sale Status', edit_quote_path(quote) if policy(quote).finances? %> </td>
      <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } if policy(quote).destroy? %></td>
    </tr>
  <%end %>




  </tbody>
</table>

<br>
<% if policy(Quote).new? %>
  <%= link_to 'New Quote', new_quote_path %>
<%end %>
