<html>
<head>
  <title> Manage Customers </title>
</head>
<body class = "qindex-body">

<p id="notice"><%= notice %></p>



<div class="elements" >

<% if policy(Quote).title1? %>
    <div class="title">
  <h1>My Quotes</h1>
    </div>
  <%end %>

<% if policy(Quote).title2? %>
    <div class="title">
<h1>Sales</h1>
    </div>
<%end %>


  <id class="border">

  <% if policy(Quote).new? %>
    <%= link_to 'New Quote', new_quote_path, class:"button" %>
  <%end %>
  </id>



  </div>

  <table id ="customers" , align="center">
    <thead>
    <tr>

    <th>Customer</th>
    <th>Vehicle</th>
    <th>Agent Contact</th>
    <th>MSRP</th>
    <th>Markup</th>
    <th>Sales tax</th>
    <th>Total</th>
    <th>Sale Status</th>
      <th colspan="5"> Actions</th>
  </tr>
  </thead>

  <tbody>

  <% @quotes.each do |quote| %>


    <tr>

      <td><%= quote.customer.full_name %></td>
      <td><%= quote.vehicle.vin %></td>
      <td><%= quote.user.email %></td>
      <td>$ <%= number_with_precision(quote.vehicle.wholesale_price, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.markup, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.sales_tax, precision: 2) %></td>
      <td>$ <%= number_with_precision(quote.total, precision: 2) %></td>
      <td><%= quote.sold %></td>
      <td><%= link_to 'Show', quote, class:"action"%></td>
      <td><%= link_to 'Edit', edit_quote_path(quote), class:"action"  if policy(quote).edit? %> </td>
      <td><%= link_to 'Update Sale Status', edit_quote_path(quote), class:"action"  if policy(Quote).finances? %> </td>
      <td><%= link_to 'Delete',quote, method: :delete, data: { confirm: 'Are you sure?' }, class:"action"  if policy(Quote).destroy? %></td>
    </tr>
  <%end %>

  </tbody>
</table>

</body>