<p id="notice"><%= notice %></p>


</div class= "show">
<table id ="customers" , align="center">
  <thead>
  <tr>



    <p>
    <td>
      <strong>Customer:</strong>
    </td>
    <td>
      <%= @quote.customer.full_name %>
    </td>
    </p>
  </tr>

<tr>
    <p>
    <td>
      <strong>Vehicle :</strong>
    </td>
    <td>
      <%= @quote.vehicle.vin %>
    </td>
    </p>
</tr>

  <tr>

    <p>
    <td>
      <strong>Agent Name:</strong>
    </td>
    <td>
      <%= @quote.user.full_name %>
    </td>
    </p>

  </tr>
  <tr>
    <p>
    <td>
      <strong>Agent Email:</strong>
    </td>
    <td>
      <%= @quote.user.email %>
    </td>
    </p>
  </tr>

  <tr>
    <p>
    <td>
      <strong>MSRP:</strong>
    </td>
    <td>
      $ <%= number_with_precision(@quote.vehicle.wholesale_price, precision: 2) %>
    </td>

    </p>
  </tr>

<tr>

  <tr>

    <p>
    <td>
      <strong>Markup:</strong>
    </td>
    <td>
      $ <%= number_with_precision(@quote.markup, precision: 2) %>
    </td>
    </p>
  </tr>

<tr>
    <p>
    <td>
      <strong>Sales tax:</strong>
    </td>
    <td>
      $ <%= number_with_precision(@quote.sales_tax, precision: 2) %>
    </td>
    </p>
</tr>

  <tr>

    <p>

    <td>
      <strong>MSRP:</strong>
    </td>
    <td>
      $ <%= number_with_precision(@quote.vehicle.wholesale_price, precision: 2) %>
    </td>
    </p>
  </tr>

  <tr>

    <p>
    <td>
      <strong>Sale Status :</strong>
    </td>
    <td>
      <%= @quote.sold %>
    </td>
    </p>

  </tr>
</table>
</div>




<table>
  <tr>
    <%= link_to 'Edit', edit_quote_path(@quote),class:"submit" %> |
    <%= link_to 'Back', quotes_path, class:"submit" %>
    <p class="picture"><%= image_tag @quote.vehicle.cover_photo,:size => '600x300' %></p>

  </tr>

</table>