<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vin %>
</p>

<p>
  <strong>Agent Name:</strong>
  <%= @quote.user.full_name%>
  <strong>Agent Contact :</strong>
  <%= @quote.user.email %>
</p>

<p>
  <strong>Markup:</strong>
  $ <%= number_with_precision(@quote.markup, precision: 2) %>
</p>

<p>
  <strong>Sales tax:</strong>
  $ <%= number_with_precision(@quote.sales_tax, precision: 2) %>
</p>

<p>
  <strong>Total:</strong>
  $ <%= number_with_precision(@quote.total, precision: 2) %>
</p>

<p>
  <strong>Sale Status:</strong>
  <%= @quote.sold %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>

