<!DOCTYPE html>
<html>
<head>
  <title> LanCARster </title>
</head>
<body class = "loginbody">

<div class = "login-box">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="textbox">
    <i class = "fa fa-user" aria-hidden="true"></i>

    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'email' %>
  </div>

    <div class="textbox">
      <i class = "fa fa-lock" aria-hidden="true"></i>

    <%= f.password_field :password, autocomplete: "current-password",placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>


     <%= f.submit "Log in" , :class => 'btn' %>


<% end %>

<%= render "users/shared/links" %>
</div>
</body>
</html>