<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div class="field">

    <%= form.label :gender, class:"labels" %>
   <%= form.text_field :gender, class:"fields" %>
  </div>

  <div class="field">
    <%= form.label :first_name, class:"labels" %>
    <%= form.text_field :first_name,class:"fields"  %>
  </div>

  <div class="field">
    <%= form.label :last_name, class:"labels" %>
    <%= form.text_field :last_name,class:"fields"  %>
  </div>

  <div class="field">
    <%= form.label :address, class:"labels" %>
    <%= form.text_field :address,class:"fields"  %>
  </div>

  <div class="field">
    <%= form.label :email, class:"labels" %>
    <%= form.text_field :email,class:"fields"  %>
  </div>

  <div class="field">
    <%= form.label :phone, class:"labels" %>
    <%= form.text_field :phone ,class:"fields" %>
  </div>

  <div class="send">
    <%= form.submit   %>
  </div>
</div>
<% end %>
