<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<%= form_tag(customers_path, method: :get) do %>
  Find a Customer By Last Name <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<p>

                                                          </p>
<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.gender %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer)if policy(customer).edit? %> </td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }if policy(customer).destroy?  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Customer).new? %>
<%= link_to 'New Customer', new_customer_path %>
<%end %>