<html>
<head>
  <title> Reports </title>
</head>


<body class = "gindex-body">

<div class ="elements">
<div class ="title">
<h1>Loan Amortization Planner </h1>
</div>


<div class ="form">
<%= form_tag(report_index_path, :method => :post) do %>
  <div class="field">
  <p class ="text-box"> <%= label_tag(:quote, "Quote:") %>
    <%= select_tag :id, options_from_collection_for_select(Quote.all, :id, :vehicle_desc),
                   {:class=>'fields', :prompt => 'Select Quote'} %></p>
  </div>

  <div class="field">
    <p class ="text-box">
    <%= label_tag(:loan_year, "Loan Years: ", class: "labels") %>
      <%= number_field_tag(:years, nil, in: 3..5,class:"fields" )  %>
    </p>
  </div>

  <div class="field">
    <p class ="text-box">
    <%= label_tag(:interest, "Annual Interest Rate: ", class:"labels") %>
    <%= number_field_tag(:rates, nil, in: 1.0..20.0, class:"fields") %>%<br/>
      <%= submit_tag("Generate Financial Report", :class => 'submit') %>
  <p>
  </div>

<% end %>
</div>
</div>
</body>