<html>
<head>
  <title> Manage Customers </title>
</head>
<body class = "vform-body">



<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">

    <div class="field">
      <p class = "text-box ">  <%= form.label :vin, class:"labels" %>
        <%= form.text_field :vin, class:"fields" %></p>
    </div>


    <div class="field">
      <p class = "text-box ">  <%= form.label :year, class:"labels" %>
        <%= form.text_field :year, class:"fields" %></p>
    </div>

    <div class="field">
      <p class = "text-box ">  <%= form.label :make, class:"labels" %>
        <%= form.text_field :make,class:"fields"  %></p>
    </div>


    <div class="field">
      <p class = "text-box ">  <%= form.label :model, class:"labels" %>
        <%= form.text_field :model,class:"fields"  %></p>
    </div>


    <div class="field">
      <p class = "text-box ">  <%= form.label :color, class:"labels" %>
        <%= form.text_field :color,class:"fields"  %></p>
    </div>


    <div class="field">
      <p class = "text-box ">  <%= form.label :wholesale_price, class:"labels" %>
        <%= form.text_field :wholesale_price, class:"fields"  %></p>
    </div>

    <div class="field">
      <p class = "text-box "> <%= form.label :cover_photo %>
      <%= form.file_field :cover_photo, direct_upload: true %></p>
    </div>

    <div class="send">
      <p>  <%= form.submit 'Submit', :class => 'submit'%> <br/>
        <%= link_to 'Back to Catalogue', vehicles_path, class:"submit" %>
      </p>

    </div>

  </div>
<% end %>
</body>