<!DOCTYPE html>

<head>

  <title>LanCARster</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="navbar">

  <div class ="usertitle">
    <% if user_signed_in? %>
      <p> You are currently signed-in as: <%= current_user.full_name %>,</p>
      <p>  privilege level: ( <%= current_user.role%>)</p>
      </div>
      <ul>




        <li>
          <%= link_to "Home", root_url %>
        </li>

        <li>
          <% if policy(User).new? %>
            <%= link_to "Manage Users", users_path %>
          <%end %>
        </li>

        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>

        <li>
          <%= link_to "Edit profile", edit_user_registration_path %>
        </li>



        <li>
          <% if policy(Quote).sold? %>
          <%= link_to "Loan Amortization Calculator", report_index_path %>
            <%end %>
        </li>

        <li>
          <% if policy(Customer).new? %>
            <%= link_to "Customer Records", customers_path%>
          <%end %>
        </li>

        <li>
          <% if policy(Quote).title1? %>
            <%= link_to "Quotes", quotes_path %>
          <%end %>
        </li>

        <li>
          <% if policy(Quote).title2? %>
            <%= link_to "Sales", quotes_path %>
          <%end %>
        </li>

        <li>
        <% if policy(Customer).new? %>
          <%= link_to "Vehicle Catalogue", vehicles_path %>
        <%end %>
        </li>

        <li>
          <% if policy(User).new? %>
            <%= link_to "Overview Report", overview_path %>
          <%end %>
        </li>

    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class:"submit" %>
      <%= link_to "Login", new_user_session_path, class:"submit" %>
    <% end %>



    </ul>
      </div>



    <%= yield %>

    </body>

</html>
