

<div class="title">
<h1> Edit Profile </h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class ="form">

  <div class="field">

    <p class ="text-box"> <%= f.label :first_name , class: "labels"%>
      <%= f.text_field :first_name, autofocus: true , class: "fields"%></p>
  </div>

    <div class="field">

      <p class ="text-box"> <%= f.label :last_name , class: "labels"%>
        <%= f.text_field :last_name, autofocus: true , class: "fields"%></p>
    </div>
    <div class="field">

      <p class ="text-box"> <%= f.label :phone , class: "labels"%>
        <%= f.text_field :phone, autofocus: true , class: "fields"%></p>
    </div>

   <div class ="field" >
    <p class ="text-box">
  <%= f.radio_button :is_female, '1' %> <%= f.label :is_female, "Female" %>
  <%= f.radio_button :is_female, '0' %> <%= f.label :is_female, "Male" %></p>
   </div>


  <div class="field">
    <p class ="text-box">
    <%= f.label :date_of_birth %><br />
      <%= f.date_select :date_of_birth%></p>
  </div>

    <% if policy(User).new? %>
    <div class="field">
      <p class = "text-box"> <%= f.label :role , class: "labels"%>
        <%= f.select :role, options_for_select(["agent", "sales", "finance", "inventory", "admin"] ), { include_blank: false }, {class:"fields" }%></p>
    </div>
    <%end %>

    <div class="field">
      <p class = "text-box"> <%= f.label :email, class:"labels" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"fields" %></p>
    </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
      <p class = "text-box">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.label :password , class:"labels"%>
        <%= f.password_field :password, autocomplete: "new-password",class:"fields"%>
      </p>
    </div>

    <div class="field">
      <p class = "text-box"> <%= f.label :password_confirmation, class:"labels" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"fields" %>  </p>
    </div>


  <div class="field">
    <p class ="text-box" ><%= f.label :current_password, class:"labels" %>
    <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"fields" %> </p>
  </div>

    <div class="send">

      <p>  <%= f.submit 'Update', :class => 'submit'%><br/>
        <%= link_to "Back", :back , class:"submit"%>
        <% if policy(User).new? %>
        <%= button_to "Delete User", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "submit"%>
          </p>
        <%end %>
        </div>
<% end %>





